@font-face {
  font-family: "Marist";
  src: url("./fonts/ABCMaristVariable-Trial.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Marist";
  src: url("./fonts/ABCMaristVariableItalic-Trial.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body,
h1,
h2,
p {
  font-family: "Marist", serif;
  margin: 0;
  background-color: #0f0f0f;
  color: #eee;
  font-size: 13.5px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
}

em {
  font-style: italic;
  margin-top: 2px;
}

a {
  color: hsl(0, 0%, 50%);
  text-decoration: none;
  font-style: italic;
  transition: color 0.3s ease
}

.p-grey {
    color: hsl(0, 0%, 50%);

}
a:hover {
  color: #ccc;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidebar-container {
  position: relative;
  padding: 18px 22px;
  border-right: 1px solid #333;
  box-sizing: border-box;
  overflow-y: auto;
}

.collapse-toggle {
  background-color: #0f0f0f;
  color: #eee;
  position: absolute;
  top: 1px;
  right: 1px;
  border: 1px solid #333;
  border-radius: 0px;
  padding: 5px 6px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 20px;
  z-index: 10;
}

.sidebar-divider {
  height: 1px;
  background-color: #333;
  margin: 1.5rem 0;
  margin-left: -22px;
  margin-right: -22px;
}

.top-nav {
  padding: 16px 22px 0 22px;
  font-weight: 500;
}

.filter-group {
  display: flex;
  gap: 5px;
  align-items: center;
}

.nav-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#form_email {
  padding: 0px !important;
}
.top-line {
  height: 1px;
  background-color: #333;
  margin-top: 16px;
  width: 100%;
}

.main {
  flex: 1;
  display: grid;
  grid-template-columns: min(28vw, 410px) 1fr;
  overflow: hidden;
  transition: grid-template-columns 0.5s ease;
}

.main.sidebar-collapsed {
  grid-template-columns: 50px 1fr;
}

.separator {
  height: 18px;
}

.id-number {
  color: hsl(0, 0%, 50%);
}
.separator-lg {
  height: 22px;
}

.flex-apart {
  display: flex;
  justify-content: space-between;
}
.sidebar {
  padding: 18px 22px;
  border-right: 1px solid #333;
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 18px;
}

.gallery-row {
  display: flex;
  gap: 2rem;
}

.thumbnail {
  flex: 1 1 calc((100% - (5 * 2rem)) / 6);
  max-width: calc((100% - (5 * 2rem)) / 6);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.vertical {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  max-height: calc((100% - (2 * 25px)));
}
.main-image {
  width: 100%;
  margin-top: 1rem;
  display: block;
}

/* .thumbnail {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
} */

.thumbnail:hover img {
  transform: rotate(-5deg) scale(1.01);
}
.thumbnail img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.item-container {
  padding: 17px;
}

.item-container-lg {
  padding: 20px;
}

.thumbnail span {
  font-style: italic;
}

.footer {
  padding: 18px 22px;
  bottom: 0;
  left: 0;
  display: flex;
  width: calc((100% - (2 * 22px)));
  position: fixed;
  background-color: #0f0f0f;
  justify-content: space-between;
  border-top: 1px solid #333;
}

.footer-links a {
  margin-left: 1.5rem;
    margin-top: 2px;

  text-decoration: none;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.nav-title {
  cursor: pointer;
  user-select: none;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.05;
  z-index: 1000;
  pointer-events: none;
}

.pagination {
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  gap: 6px;
}

.pagination,
.page-button {
  font-family: "Marist", serif;
}

.page-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  transition: opacity 0.2s ease;
}

.page-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.page-button.active {
  font-style: italic;
  margin-bottom: -3px;
}

.dots {
  margin: 0 0.3rem;
}

.sidebar.fade-in {
  animation: fadeIn 0.4s ease-in both;
}

.fade-in {
  animation: fadeIn 0.4s ease-in both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome-screen {
  font-family: "Marist", serif;
  background-color: #0f0f0f;
  color: #eee;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.intro-overlay {
  position: fixed;
  inset: 0;
  background-color: #0f0f0f;
  color: #eee;
  font-family: "Marist", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 2rem;
  animation: fadeOut 5s ease forwards;
  animation-delay: 9s;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-in-welcome {
  opacity: 0;
  animation: fadeInWelcome 1.5s ease-in forwards;
  font-size: 13.5px;
}

.falling-title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.6px;
}

.falling-letter {
  opacity: 0;
  display: inline-block;
  animation: fallIn 2.5s ease-out forwards;
  margin-right: 1.5px;
}

@keyframes fadeInWelcome {
  to {
    opacity: 1;
  }
}

@keyframes fallIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.intro-content {
  animation: fadeOutText 5s ease forwards;
  animation-delay: 5s; /* fade out before overlay disappears */
}

@keyframes fadeOutText {
  to {
    opacity: 0;
  }
}
